<h2>
  <fa-icon [icon]="faPlus"></fa-icon>
  {{title}}
</h2>
<form [formGroup]="form">
  <mat-accordion multi>

    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="icon" aria-label="Icon displaying form section">
            <fa-duotone-icon [icon]="faInfo" size="lg" primaryColor="#3f51b5" primaryOpacity=".8"
              secondaryColor="#3f51b5" secondaryOpacity=".8"> </fa-duotone-icon>
          </div>
          <div>General Equipment Information</div>
        </div>
      </mat-expansion-panel-header>
      <div class="section-form">
        <div fxLayout="column" fxLayoutAlign="space-between none" fxLayoutGap="20px">
          <mat-form-field required>
            <mat-label>ID</mat-label>
            <input autocomplete="off" matInput placeholder="Enter equipment ID" formControlName="equipment_id">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Department Owner</mat-label>
            <input autocomplete="off" matInput placeholder="Enter department owner" formControlName="department_owner">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Manufacturer</mat-label>
            <input autocomplete="off" matInput placeholder="Enter manufacturer name" formControlName="manufacturer_id">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Model</mat-label>
            <input autocomplete="off" matInput placeholder="Enter model number" formControlName="model_number">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Enter equipment description"
              formControlName="equipment_description"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="icon"  aria-label="Icon displaying form section">
            <fa-duotone-icon [icon]="faClipoardList" size="lg" primaryColor="#333" primaryOpacity="1"
              secondaryColor="green" secondaryOpacity=".6">
            </fa-duotone-icon>
          </div>
          <div>Asset Information</div>
        </div>
      </mat-expansion-panel-header>
      <div class="section-form">
        <div formGroupName="asset" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
          <mat-form-field>
            <mat-label>UNSPSC Code</mat-label>
            <input autocomplete="off" formControlName="unspsc_code" matInput placeholder="">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>UNSPSC Title</mat-label>
            <input autocomplete="off" formControlName="unspsc_title" matInput placeholder="">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Current Building Location</mat-label>
            <input autocomplete="off" formControlName="equipment_current_building_location" matInput placeholder="">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>


          <mat-form-field appearance="">
            <mat-label>Acquisition Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="acquisition_date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <!-- Age in years: {{}} -->

          <mat-form-field>
            <mat-label>Acquisition value</mat-label>
            <input autocomplete="off" numbersOnly formControlName="acquisition_value" matInput placeholder="">
            <fa-duotone-icon matSuffix [icon]="faDollarSign">
            </fa-duotone-icon>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Amortization Period </mat-label>
            <input autocomplete="off" numbersOnly formControlName="accumulated_amortization" matInput placeholder="">
            <span matPrefix></span>
            <mat-hint>Typically 12 years</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Current Value</mat-label>
            <input autocomplete="off" numbersOnly formControlName="current_value" matInput placeholder="">
            <fa-duotone-icon matSuffix [icon]="faDollarSign" primaryColor="gray" primaryOpacity="1" secondaryOpacity="1"
              secondaryColor="gray">
            </fa-duotone-icon>
            <mat-hint>Depreciated value</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Replacement Cost</mat-label>
            <input autocomplete="off" numbersOnly formControlName="replacement_cost" matInput placeholder="">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Relocation Cost</mat-label>
            <input autocomplete="off" numbersOnly formControlName="relocation_cost" matInput placeholder="">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Available Redundancy</mat-label>
            <input autocomplete="off" numbersOnly formControlName="available_redundancy" matInput placeholder="">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Core to Capability</mat-label>
            <input autocomplete="off" numbersOnly formControlName="core_to_capability" matInput placeholder="">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Kept for spare parts?</mat-label>
            <input autocomplete="off" numbersOnly formControlName="is_kept_for_spare_parts" matInput placeholder="">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Maximum Out Of Service Time</mat-label>
            <input autocomplete="off" numbersOnly formControlName="maximum_out_of_service_time" matInput placeholder="">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Maximum Out Of Service Time</mat-label>
            <input autocomplete="off" numbersOnly formControlName="maximum_out_of_service_time" matInput placeholder="">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <!-- <mat-form-field>
            <mat-label>Estimated Remaining Useful Life</mat-label>
            <input autocomplete="off"
              numbersOnly
              formControlName="estimated_remaining_useful_life"  
              matInput 
              placeholder="" >
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field> -->

          <mat-form-field>
            <mat-label>End of Ability to Service</mat-label>
            <input autocomplete="off" numbersOnly formControlName="is_end_of_service" matInput placeholder="">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Cost to Keep Running</mat-label>
            <input autocomplete="off" numbersOnly formControlName="cost_to_keep_running" matInput placeholder="">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Can be Relocated</mat-label>
            <input autocomplete="off" numbersOnly formControlName="can_be_relocated" matInput placeholder="">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Asset Decision</mat-label>
            <input autocomplete="off" numbersOnly formControlName="asset_decision" matInput placeholder="">
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field>

          <!-- <mat-form-field>
            <mat-label>Department Asset Code</mat-label>
            <input autocomplete="off"
              numbersOnly
              formControlName="department_asset_code"  
              matInput 
              placeholder="" >
            <span matPrefix></span>
            <mat-hint></mat-hint>
          </mat-form-field> -->
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="icon" aria-label="Icon displaying form section">
            <fa-duotone-icon [icon]="faPencilRuler" size="lg" primaryColor="purple" primaryOpacity=".7"
              secondaryColor="black" secondaryOpacity=".8">
            </fa-duotone-icon>
          </div>
          <div>Dimensional Information and Location Considerations</div>
        </div>
      </mat-expansion-panel-header>
      <div class="section-form">
         <dimensional-form [dimensional]="form.get('dimensional')"></dimensional-form>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="icon"  aria-label="Icon displaying form section">
            <fa-duotone-icon [icon]="faBolt" size="lg" primaryColor="goldenrod" primaryOpacity=".8"
              secondaryColor="goldenrod" secondaryOpacity=".8">
            </fa-duotone-icon>
          </div>
          <div>Electrical</div>
        </div>
      </mat-expansion-panel-header>
      <div class="section-form">
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <button mat-fab (click)="Save()" color="primary" aria-label="Example icon button with a delete icon" class="float">
    <fa-duotone-icon [icon]="faSave" size="2x" primaryColor="white" primaryOpacity="1" secondaryColor="green"
      secondaryOpacity=".8">
    </fa-duotone-icon>
  </button>

  <!-- {{this.form.value | json}} -->
</form>

<br><br>