.card{
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    background-color: white;
    padding: 15px;
}
.card:hover{
    background-color: #ccc;
    /* border: 1px solid blue; */
}


.viewport {
    height: 700px;
    width: 100%;
    /* border: 1px solid #CCC; */
    border-radius: 7px;
}
  
.item {
    height: 120px;
    padding: 5px;
    border-bottom: 1px solid #CCC;
    background-color: white;

}

.title{
    font-size: 22px;
    /* color: rgba(0,0,0, .87); */
    color: #3f51b5;
    /* letter-spacing: 1px; */
}

.props{
    color: rgba(0,0,0, .87);
    font-size: 13px;
}

.description{
    font-size: 14px;
    color: rgba(0,0,0, .6);
}
