<div class="mat-title">Search</div>
<div *ngIf="isLoading; else listBlock" class="spinner">
  <mat-spinner></mat-spinner>
</div>
<ng-template #listBlock>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Find</mat-label>
      <input autocomplete="off" #searchText matInput placeholder="Type to start searching..."
        (keyup)="applyFilter($event.target.value)">
      <fa-icon matSuffix [icon]="faSearch" size="2x"></fa-icon>
    </mat-form-field>
    <br>

    <cdk-virtual-scroll-viewport itemSize="200" class="viewport">
      <div *cdkVirtualFor="let eq of datasource" [markjsHighlight]="searchText.value">
        <div fxLayout="column" fxLayoutAlign="start start" class="card" fxLayoutGap="20px">
          <div fxFlex="20" style="width: 100%;">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div class="title">{{eq.asset?.unspsc_title}}</div>
              <div> 
                <button class="button " mat-mini-fab (click)="showDetails(eq.id)">
                  <fa-icon matSuffix [icon]="faPen" size="lg"></fa-icon></button>
                </div>
            </div>

          </div>
          <div fxFlex class="description">{{eq?.equipment_description}}</div>
          <div fxFlex="20" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" class="props">
            <div>
              <fa-icon [icon]="faBarcodeAlt"></fa-icon> {{eq.asset?.unspsc_code}}
            </div>
            <div>
              <fa-icon [icon]="faHomeAlt"></fa-icon> {{eq.asset?.equipment_current_building_location}}
            </div>
            <div>
              <fa-icon [icon]="faCalendar"></fa-icon> {{eq.asset?.acquisition_date}}
            </div>
            <!-- <div><fa-icon [icon]="faUserTag"></fa-icon> {{eq.department_owner}}</div> -->
          </div>

        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</ng-template>