

<mat-form-field style="width: 100%">
  <mat-label>Search</mat-label>
  <input autocomplete="off" matInput placeholder="Type to start searching..." (keyup)="applyFilter($event.target.value)" >
  <span matSuffix><sup style="color:#3f51b5;">{{datasource?.filteredData?.length}}/{{datasource?.data?.length}}</sup></span>
  <mat-hint></mat-hint>
</mat-form-field>

  <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
    <div *cdkVirtualFor="let eq of datasource">
      <div fxLayout="column" fxLayoutAlign="start start" class="card" fxLayoutGap="20px"(click)="showDetails(eq.id)" >
        <div class="title">{{eq.asset?.unspsc_title}}</div>
        <div class="description">{{eq?.equipment_description}}</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" class="props">
          <div><fa-icon [icon]="faBarcodeAlt"></fa-icon> {{eq.asset?.unspsc_code}}</div>
          <div><fa-icon [icon]="faHomeAlt"></fa-icon> {{eq.asset?.equipment_current_building_location}}</div>
          <div><fa-icon [icon]="faCalendar"></fa-icon> {{eq.asset?.acquisition_date}}</div>
          <!-- <div><fa-icon [icon]="faUserTag"></fa-icon> {{eq.department_owner}}</div> -->
        </div>

      </div>
    </div>
  </cdk-virtual-scroll-viewport>

