<div [formGroup]="dimensional" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
  <mat-form-field>
    <mat-label>Equipment Width</mat-label>
    <input autocomplete="off" numbersOnly matInput placeholder="Enter in metric" formControlName="equipment_width">
    <span matPrefix></span>
    <mat-hint></mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Footprint Length</mat-label>
    <input autocomplete="off" numbersOnly matInput placeholder="Enter in metric" formControlName="footprint_length">
    <span matPrefix></span>
    <mat-hint></mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Footprint Height</mat-label>
    <input autocomplete="off" matInput numbersOnly placeholder="Enter in metric" formControlName="footprint_height">
    <span matPrefix></span>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Clearance Required Width</mat-label>
    <input autocomplete="off" matInput numbersOnly placeholder="Enter in metric" formControlName="clearance_width">
    <span matPrefix></span>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Clearance Required Length</mat-label>
    <input autocomplete="off" matInput numbersOnly placeholder="Enter in metric" formControlName="clearance_length">
    <span matPrefix></span>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Equipment Weight</mat-label>
    <input autocomplete="off" matInput numbersOnly placeholder="Enter in metric" formControlName="equipment_weight">
    <span matPrefix></span>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Notes</mat-label>
    <textarea rows=4 matInput placeholder="Enter equipment notes"
      formControlName="notes"></textarea>
  </mat-form-field>

</div>