<div mat-dialog-title>
  <div fxLayout="row" style="width: 100%" fxLayoutAlign="start center" fxLayoutGap="10px">
    <fa-duotone-icon [icon]="faCheckCircle" size="2x" primaryColor="green" primaryOpacity=".7" secondaryColor="#eee"
      secondaryOpacity=".8">
    </fa-duotone-icon>
    <div>Equipment updated!</div>
  </div>
</div>
<div mat-dialog-content>
  <p></p>
</div>
<div mat-dialog-actions>
  <br>
  <div fxLayout="row" style="width: 100%" fxLayoutAlign="end none">
    <button mat-stroked-button cdkFocusInitial color="primary" [mat-dialog-close]="">Ok</button>
  </div>
</div>